@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color text #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 rgba(22, 25, 37, 0.9);
@define-color surface1 #45475a;
@define-color surface2 #585b70;
@define-color surface3 #394161;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9ba3c3;

@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color sapphire #74c7ec;
@define-color sky #89dceb;
@define-color teal #94e2d5;
@define-color green #a6e3a1;
@define-color yellow #f9e2af;
@define-color peach #fab387;
@define-color maroon #eba0ac;
@define-color red #f38ba8;
@define-color mauve #cba6f7;
@define-color pink #f5c2e7;
@define-color flamingo #f2cdcd;
@define-color rosewater #f5e0dc;


* {
    border: none;
    border-radius: 0;
	font-family: "CaskaydiaCove Nerd Font", monospace;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label {
    color: #cdd6f4;
}

#workspaces {
	padding-left: 8px;
  	padding-right: 8px;
}

#workspaces * {
	font-size: 0px;
}

#workspaces button {
	background-color: @surface3;
  	color: @mauve;
  	border-radius: 100%;
  	min-height: 14px;
  	min-width: 14px;
  	margin: 9px 8px;
  	padding: 0px;
  	/*transition: all 0.5s cubic-bezier(0.33, 1.0, 0.68, 1.0); easeInOutCubic*
  	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);*/
  	box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
	background: radial-gradient(
    circle,
    rgba(203, 166, 247, 1) 0%,
    rgba(193, 168, 247, 1) 12%,
    rgba(249, 226, 175, 1) 19%,
    rgba(189, 169, 247, 1) 20%,
    rgba(182, 171, 247, 1) 24%,
    rgba(198, 255, 194, 1) 36%,
    rgba(177, 172, 247, 1) 37%,
    rgba(170, 173, 248, 1) 48%,
    rgba(255, 255, 255, 1) 52%,
    rgba(166, 174, 248, 1) 52%,
    rgba(160, 175, 248, 1) 59%,
    rgba(148, 226, 213, 1) 66%,
    rgba(155, 176, 248, 1) 67%,
    rgba(152, 177, 248, 1) 68%,
    rgba(205, 214, 244, 1) 77%,
    rgba(148, 178, 249, 1) 78%,
    rgba(144, 179, 250, 1) 82%,
    rgba(180, 190, 254, 1) 83%,
    rgba(141, 179, 250, 1) 90%,
    rgba(137, 180, 250, 1) 100%
  	);
  	background-size: 400% 400%;
  	animation: gradient_f 20s ease-in-out infinite;
  	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}


#workspaces button:hover {
	background-color: @mauve;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-change_wallpaper,
#custom-power,
#custom-power_profile,
#custom-weather,
#custom-eww_panel,
#custom-notifications,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#custom-public_ip,
#tray,
#temperature,
#workspaces,
#backlight,
#custom-pomodoro
{
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
}

#clock {
	border-radius: 10px;
}

#temperature {
    border-radius: 10px 0px 0px 10px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
	margin-right: 10px;
}

#custom-lock_screen, #custom-launch_wofi, #cpu{
	border-radius: 10px 0px 0px 10px;
}

#custom-change_wallpaper, #disk{
	border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-eww_panel {
	color: @white;
	margin-left: 10px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 13px;
}

#custom-launch_wofi {
    color: #407cdd;
    margin-left: 10px;
    border-right: 0px;
}

#workspaces {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 10px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 0px;
    border-right: 0px;
}

#custom-notifications {
	border-radius: 10px 0px 0px 10px;
}

#custom-power {
	border-radius: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 13px;
	color: @red;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}



#network {
    color: @sapphire;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#custom-public_ip {
    color: @sapphire;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}


#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
}

#pulseaudio {
    color: @mauve;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @green;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}

#custom-pomodoro {
    color: @white;
	margin-left: 10px;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 13px;
}
